<body>
<h2>Esse webserver se encontra em status de DR ⚠️⚠️⚠️⚠️ </h2>
<h1> <p style="color:red">{{ dr_content }}</p></h1>
<h2> <p style="color:red">Esse serviço está rodando em: {{ ansible_facts.fqdn }} </p> </h2>

</body>
